.episodes__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    & > li {
        flex: 0 1 24%;
        border: 1px solid black;
        padding: 7px 10px;

        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            background-color: aqua;
            transition: all .3s ease;
        }
    }
}