.comments__item {
    border: 1px solid black;
    padding: 10px 15px;
    width: 500px;

    & {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    & div:nth-child(2) {
        align-self: flex-end;
    }

    & div:nth-child(3) {
        align-self: center;
    }
}