
.posters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    
}

.posters__carts {
    display: flex;
    gap: 10px;
}

.buttonContainer {
    align-self: flex-end;
}

.button {
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
}