.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.login-form__container {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.forms-fields {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.field-wrap {

}

.label-wrap {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.label-text {

}
.field {
    padding: 7px 10px;
}

.btn-wrap {
    align-self: center;
}
.submit-btn {
    padding: 7px 15px;
    border: 1px solid black;
    border-radius: 2px;
}


// ERROR

.error-message {
    display: none;
}

// ERROR