.form-wrap { 
   
    
}
.form-wrap-container {
    padding: 15px 20px;
    border: 1px solid black;
}

.login-form {
    width: 350px
}

.login__title-text {
    text-align: center;
    margin-bottom: 20px;
}

.login-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.form__fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label-wrap {
    display: flex;
    flex-direction: column;
}

.form-input {
    padding: 5px 7px;
}

.submit-wrap-btn {
    
}