$light-color: #f4f4f4;
$dark-color: #2e2e2e;
$main-color: #111321;
$orange-color: #ffa500;

$light-theme-color: #f4f4f4;
$primary-text-color: #111321;
$dark-theme-color: #2e2e2e;

$duration: 301ms;

$transition: all $duration ease;