.todos {
    padding: 25px 0;
}
.todos__cocntainer {
    display: flex;
    flex-direction: column;
    gap: 25px
}

.todos__title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}