// BUTTON THEME
body.dark {
    .btn__change-theme {
        
        background-color:#d85f18;
        color: #fff;
    }
}

.theme-wrap {
    
}

.btn__change-theme {
    font-weight: 500;
    padding: 5px 10px;
    
    cursor: pointer;
    background-color: #e0e0e0;
    &.dark {
        background-color:#d85f18;
        color: #fff;
    }
}

.btn__text {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}