// Вместо исходных стилей для компонента SelectFilter

.custom-select {
    z-index: 1000;
    position: relative;
    width: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    font-size: 16px;
    color: #333;
  
    .selected-value {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .options-list {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      overflow-y: auto;
      border: 1px solid #ccc;
      border-top: none;
      border-radius: 0 0 4px 4px;
      background-color: #fff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      max-height: 0;
      opacity: 0; /* Изменим это свойство */
      pointer-events: none; /* Изменим это свойство */
      transition: max-height 0.3s ease, opacity 0.3s ease;
  
      scrollbar-width: thin;
      scrollbar-color: orange #f0f0f0;
  
      &::-webkit-scrollbar {
        width: 8px;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: orange;
        border-radius: 8px;
      }
  
      &.open {
        max-height: 120px;
        opacity: 1; /* Изменим это свойство */
        pointer-events: auto; /* Изменим это свойство */
      }
  
      .option {
        padding: 8px;
        cursor: pointer;
        transition: all 0.3s ease;
  
        &:hover {
          background-color: #f0f0f0;
          color: orange;
        }
      }
    }
  }
  